{% extends "parts/base.html" %}

{% block title %}file{% endblock title %}

{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{{ moment.include_moment() }}
{{ moment.locale('zh-tw') }}
{% endblock scripts %}

{% block page_content %}
{{ super() }}

<form method="POST" action="/file" enctype="multipart/form-data">
    <div>
        <label for="formFileLg" class="form-label">Large file input example</label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock page_content %}